*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
}

body{
    background:url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
    
    width: 100%;
    height:40px;
    backdrop-filter: blue(240px);
    background: rgba(60, 60, 60, 0.3);
    
}

h1{
    color: white;
    padding-top: 10px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
}


ul{
    float: right;
    margin-top: -20px ;
}

li{
    display: inline;
    border-radius: 10px;
    padding: 12px 15px;
}

li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}

li a:hover{
    border-radius: 20px;
    border: 2px solid white;
}


#icon-open{
    color:white;
    font-size: 25px;
    float: right;
    cursor: pointer;
    margin-top: -25px;
    margin-right: 10px;
   display: none;

}

#icon-close{
    color:white;
    font-size: 25px;
    float: right;
    cursor: pointer;
    margin-top: -25px;
    margin-right: 10px;
    display: none;
}

@media (max-width:1048px){
    #icon-open{
        display: none;
    }

    #icon-close{
        display: none;
    }
}


@media (max-width:909px){

    body{
        background-image: url(mobile-wallpaper.jpg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    nav icon-open{
        display: block;
        padding-right: 20px;
        visibility: visible;
        font-size: 20px;
        
    }

    #navigation{
        
        position: fixed;
        width: 100%;
        height:100vh;
        background-color:black;
        top: 60px;
        transition: all .5 ease;
        text-align: center;
        visibility: hidden;
        display: block;
        
    }

    li{
        display: block;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        
        line-height: 3;
    }

    #icon-open{
        display: block;
    }
    
}

button{
    background-color: #ffffff00;
    border: none;
    outline: none;
}